#chart_container {
    width: 100%;
}

body {
    font-family: calibri, Tahoma, serif;
}

.title {
    text-align: center;
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    color: darkgrey;
    font-weight: normal;
    margin-top: 0;
}

.toolbox {
    position: absolute;
}

.text-center {
    text-align: center;
}

.status {
    background: #00559f;
    color: white;
    font-size: 2rem;
    padding: 10px 60px;
    width: fit-content;
    margin: auto;
}

.att {
    /*font-size: 1.5rem;*/
    color: #6f90c6;
}